.search {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
  gap: 1em;
}

.search input {
  border: none;
  height: 75%;
  font-size: 1rem;
  font-family: var(--font-raleway);
  font-weight: 500;
  padding: 0.5rem 1rem;
  outline: none;
  color: #a1a1a1;
  border: 1px solid rgb(205, 205, 205);
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

.search input::placeholder {
  color: #a1a1a1; 
  opacity: 0.8; 
}

.search button {
  border-radius: 5px;
  height: 100%;
  color: #ffffff;
  font-family: var(--font-raleway);
  letter-spacing: 0.75px;
  cursor: pointer;
  background: #323233;
  border: 1px solid grey;
}

@media (max-width: 768px) {
  .search {
    flex-direction: column;
    gap: 0.5em;
  }

  .search input, .search button {
    width: 100%;
    max-width: none;
  }
}
