.nav-container {
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.42);
  flex-wrap: wrap;
  position: sticky;
}

.nav {
  max-width: 80%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.logo-box {
  flex-grow: 1; 
}

h1 {
  font-size: 2rem;
  letter-spacing: 0.9px;
  background: linear-gradient(90deg, rgba(249, 211, 180, 1) 0%, rgba(249, 211, 180, 0) 200%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.links-box {
  display: flex;
  align-items: center;
  gap: 1em;
  flex-grow: 2;
  justify-content: flex-end;
}

.links {
  color: rgb(200, 174, 136);
}

.links ul {
  display: flex;
  gap: 1em;
}

.links ul li {
  list-style: none;
}

.L a {
  text-decoration: none;
  color: inherit;
}

.search {
  margin-left: 1em;
}

.toggler-icon {
  position: relative;
  height: 2rem;
  background: grey;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10%;
  width: 3rem;
  display: none;
  align-items: center;
  justify-content: center;
}

.toggler-icon .toggler{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.toggler-icon > .toggler span{
  content: " ";
  background: rgb(73, 75, 76);
  width: 2rem;
  height: 2.5px;
}

@media (max-width: 1200px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .logo-box{
    width: 100%;
  }

  .links-box {
    display: none;
  }

  .toggler-icon{
    display: flex;
  }

  .links-box.vertical {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 1em 0;
  }

  .links ul {
    flex-direction: column;
    align-items: center;
  }

  .search {
    margin-top: 1em;
  }
}
